
{{>layout/header}}
<div class="container">
    <h2 style="text-align: center">메뉴 입력</h2>
    <form>
        <div class="form-group">
            <label for="menu">메뉴 이름:</label>
            <input type="text" class="form-control" id="menu" placeholder="메뉴 이름 입력" name="menu">
        </div>
        <div class="form-group">
            <label for="price">단품 가격:</label>
            <input type="number" class="form-control" id="price" placeholder="메뉴 가격 입력" name="price">
        </div>
        <div class="form-group">
            <label for="price2">세트 가격:</label>
            <input type="number" class="form-control" id="price2" placeholder="메뉴 가격 입력" name="price2">
        </div>
        <div class="form-group">
            <label for="img">이미지주소:</label>
            <input type="text" class="form-control" id="img" placeholder="이미지주소 입력" name="img">
        </div>

        <a href="/static" role="button" class="btn btn-secondary">취소</a>
        <button type="submit" class="btn btn-primary" id="btn-save">메뉴 등록</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/bk_insert.js"></script>
</body>
</html>